<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key %>);">
  <div class="container">
    <div class="content-wrapper">
      <%= link_to list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Delete #{@list.name}?" }, class: "delete-list" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
      <h1><%= @list.name %></h1>
      <%= link_to "Create a favorite list", new_list_favorite_path(@list), class: "btn btn-flat" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @list.favorites.each do |favorite| %>
      <div class="card" style="width: 18rem;">
        <%= link_to edit_list_favorite_path(favorite), class:"edit-link" do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        <img src=<%= favorite.breakfast.img_url %> class="show-image" alt="">
        <div class="card-body">
          <h5 class="card-title"><%= favorite.breakfast.name %></h5>
          <p class="card-text"><%= favorite.comment %></p>
          <%= link_to "See Recipe", lists_path, class: "btn btn-primary mr-5" %>
          <%= link_to "Delete", favorite_path(favorite), data: { turbo_method: :delete, turbo_confirm: "Delete #{favorite.breakfast.name}?" }, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
